:root {
  font-family: "Geist", Inter, system-ui, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.page {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 12px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 48px;
  align-items: center;
}

.header {
  width: 100%;
  text-align: center;
  /* margin-top: 24px; */
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header h1 {
  font-size: 40px;
  margin: 0;
  /* margin-bottom: 12px; */
}

.searchContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
}

.searchInput {
  all: unset;
  margin : 0;
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  border: 1px solid black;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  text-align: center;
  transition: outline 0.1s ease-in;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  transition: border-radius 0.2s;
}

.searchInput:focus {
  outline: 1px solid #6B7FD7;
}

.searchInput:focus::placeholder {
  visibility: hidden;
}

::selection {
  background-color: #6B7FD7; 
  color: white;
}

.searchContainer:has(.suggestionsContainer) .searchInput {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.suggestionsContainer {
  border: solid 1px black;
  border-top: 0px;
  animation: blurIn 0.2s ease-out;
}

@keyframes blurIn {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}

.suggestionItem {
  border-top: solid 1px black;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.suggestionItem:first-child {
  border-top: none;
}

.suggestionItem:hover {
  cursor: pointer;
  background-color: #e9e9e9;
}

#suggestionTitle {
  /* display: block; */
  font-weight: bold;
  font-family: "Geist Mono";
}

#suggestionDefinition {
  /* display: block; */
}

.resultsContainer {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.queryResultContainer, .searchResultContainer {
  padding: 12px;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#queryResultTitle, #searchResultTitle {
  display: block;
  font-weight: bold;
  font-family: "Geist Mono";
}

#queryResultDefinition, #searchResultDefinition {
  display: block;
}

.searchResultsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.searchResultsContainer h3 {
  margin: 0;
}

.exitButtonContainer {
  display: flex;
  justify-content: end;
}

.exitButtonContainer button {
  all: unset;
  font-size: 12px;
  border: solid 1px black;
  border-top: 0;
  cursor: pointer;
  padding: 4px;
  width: 140px;
  text-align: justify;
}

.exitButtonContainer button:hover {
  background-color: #e9e9e9;
}

@keyframes arrowMove {
  0% { margin-left: 8px; }
  50% { margin-left: 12px; }
  100% { margin-left: 8px; }
}

.exitButtonContainer button::after {
  content: "→";
  margin-left: 8px;
  animation: arrowMove 0.8s infinite ease-in-out;
}

.githubButton {
  all: unset;
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 8px;
  text-decoration: none;
  background-color: #1e1e1e11;
  font-family: "Geist Mono";
  border-radius: 2px;
  letter-spacing: -.3px;
}

.githubButton:hover {
  background-color: #e9e9e9;
}

.siteDescription {
  font-size: 13px;
  text-align: center;
}